body{
  background-color: rgb(241, 241, 241);
  font-family: Arial, "Noto Sans Thai", sans-serif;
  padding: 0;
  margin: 0;
}
#logoContainer{
  position: fixed;
  top: 5px;
  z-index: 9999;
  margin-left: 15px;
  color: rgb(255, 116, 36);
  font-size: 20px;
  font-weight: 600;
}
#mainLogo{
  width: 35px;
}
#logoText{
  width: 60px;
}
#topActionBar{
  position: fixed;
  z-index: 100;
  top: 35px;
  right: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2; 
  vertical-align: middle;
  text-align: right;
  color: rgba(45, 45, 45, 0.615);
}
#CatagoryDisplay{
  width: auto;
}
#backButton{
  position: absolute;
  z-index: 100;
  width: 30px;
  height: 30px;
  top: -2px;
  left: -25px;
}
.topBarLable{
  position: fixed;
  color: rgba(77, 77, 77, 0.507);
  z-index: 100;
  font-weight: 500;
}
#selectedNumContainer{
  width: 75px;
  height: 24px;
  position: fixed;
  top: 0px;
  left: 125px;
  z-index: 100;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: inset 0 0 0 2px rgba(183, 183, 183, 0.354);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;  
  color:  rgb(255, 116, 36);
  font-size: 15px;
  font-weight: 600;
}
#selectedCalContainer{
  width: 75px;
  height: 24px;
  position: fixed;
  top: 25px;
  left: 125px;
  z-index: 100;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: inset 0 0 0 2px rgba(183, 183, 183, 0.354);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;  
  color:  rgb(255, 116, 36);
  font-size: 15px;
  font-weight: 600;
}
#topFader{
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0px;
  left: 0px;
  z-index: 99;
  background-color: rgb(241, 241, 241);
}
#foodDataContainer{
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  background-color: rgba(217, 217, 217, 0);
  text-align: center; 
  transition: all 0.4s cubic-bezier(.65,-0.28,.34,1.19);
}
.foods{
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(249, 249, 249);
  width: 190px;
  height: 273px;
  overflow: hidden;
  text-align: right;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.161);
}
.foodnameLable{
  position: absolute;
  top: 150px;
  left: 10px;
  font-size: 22px;
  width: 100%;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 100%;
  color: rgb(45, 45, 45);
}
.foodcalLable{
  position: absolute;
  top: 205px;
  left: 45px;
  font-size: 22px;
  width: 100%;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: rgb(255, 116, 36);
}
.foodLocLable{
  position: absolute;
  top: 235px;
  left: 45px;
  font-size: 22px;
  width: 100%;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 1;
  color: rgb(255, 116, 36);
}
.foodTagLable{
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.2; width: 200px; vertical-align: middle;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.623); 
}
.foodDataImage{
  position: absolute;
  left: 0;
  border-radius: 0px;
  margin-left: 0px;
  margin-top: 0px;
  height: 140px;
  width: 100%;
  background-color: rgb(144, 144, 144);
  object-fit: cover;
  vertical-align: top;
  display: inline-block;
}

.foodTypes{
  margin: 10px;
  border-radius: 20px;
  background-color: rgb(249, 249, 249);
  width: 190px;
  height: 273px;
  overflow: hidden;
  text-align: right;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.161);
}
.foodTypeImage{
  position: absolute;
  left: 0;
  border-radius: 0px;
  margin-left: 0px;
  margin-top: 0px;
  height: 140px;
  width: 100%;
  background-color: rgb(144, 144, 144);
  object-fit: cover;
  vertical-align: top;
  display: inline-block;
}
.foodTypenameLable{
  position: absolute;
  top: 150px;
  left: 10px;
  font-size: 24px;
  width: 95%;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: rgb(45, 45, 45);
  line-height: 100%;
}
.foodTypecalLable{
  position: absolute;
  top: 205px;
  left: 45px;
  font-size: 22px;
  width: 100%;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: rgb(255, 116, 36);
}
.foodTypeCountLable{
  position: absolute;
  top: 235px;
  left: 45px;
  font-size: 22px;
  width: 100%;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: rgb(255, 116, 36);
}
.selectTypeIcon{
  position: absolute;
  left: 6.2px;
  top: 6.2px;
  opacity: 1;
  width: 23px;
}
.foodTypeCalImage{
  width: 25px;
  position: absolute;
  top: 203px;
  left: 10px;
}
.foodTypeLocImage{
  width: 22px;
  position: absolute;
  top: 235px;
  left: 10px;
}
.foodTypeCountImage{
  width: 22px;
  position: absolute;
  top: 235px;
  left: 10px;
}
.selectTypeButton{
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 35px;
  width: 35px;
  display: inline-block;
  background-color: rgb(39, 39, 39);
  border-radius: 20px;
  rotate: 0deg;
  z-index: 3;
  transition: all 0.6s cubic-bezier(.65,-0.28,.34,1.19);
}

.selectIcon{
  height: 33px;
}
.selectButton{
  height: 40px;
  width: 40px;
  margin-top: 12px;
  margin-right: 20px;
  display: inline-block;
}
#selectedInfoBox{
  position: fixed;
  z-index: 999;
  bottom: -600px;
  opacity: 0;
  pointer-events: none;
  width: 90%;
  height: 170px;
  left: 5%;
  background-color: rgb(249, 249, 249);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.223);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end; 
  transition: all 0.9s cubic-bezier(.65,-0.28,.34,1.19);
}
#selectedBoxCarrotIcon{
  position: absolute;
  width: 30px;
  top: 20px;
  left: 20px;
  opacity: 0.7;
}
#selectedBoxMessage {
  position: absolute;
  left: 60px;
  top: 0px;
  height: 80px;
  width: auto; 
  font-size: 15px;
  font-weight: 600;
  color: rgba(50, 50, 50, 0.591);
  margin-right: 15px;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.selectedBoxNumLable{
  position: absolute;
  color: rgb(45, 45, 45);
  font-size: 22px;
  font-weight: 600;
}
.selectedBoxNum{
  position: absolute;
  color: rgb(255, 116, 36);
  font-size: 22px;
  font-weight: 600;
}
#calBar{
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 25px;
  border-radius: 8px;
  background-color:  rgb(217, 217, 217);
  overflow: hidden;
}
#calBarValue{
  height: 100%;
  width: 0%;
  background-color: rgb(255, 116, 36);
  transition: all 0.6s;
}
#calRangeBar{
  position: absolute;
  left: 21px;
  right: 21px;
  bottom: 50px;
  height: 5px;
  border-radius: 2px;
  overflow: hidden;
}
.idealBars{
  height: 5px;
  background-color:  rgb(195, 195, 195);
  position: absolute;
  top: 0;
  border-radius: 2px;
  transition: all 0.4s cubic-bezier(.65,-0.28,.34,1.19);
}
.idealBarsActive{
  background-color:  rgb(72, 72, 72);
}
#foodDataForm{
  position: fixed;
  z-index: 999;
  bottom: -600px;
  opacity: 0;
  pointer-events: none;
  width: 90%;
  height: 500px;
  left: 5%;
  background-color: rgb(249, 249, 249);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.223);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end; 
  transition: all 0.9s cubic-bezier(.65,-0.28,.34,1.19);
}
#foodDataTextContainer{
  height: 190px;
  bottom: 5px;
  right: 50px;
  flex: 1;
  margin: 5px;
  border-radius: 25px;
  box-shadow: inset 0 0 0 2px rgba(183, 183, 183, 0.354);
}
.foodDataInput{
  overflow: hidden;
  border: none;
  height: 40px;
  margin: 6px;
  margin-top: 6px;
  margin-bottom: 0px;
  background-color: rgb(217, 217, 217);
  border-radius: 30px;
  padding-left: 10px;
  width: calc(100% - 12px);
  min-width: 0;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}
.foodDataInput :focus{
  outline: none;
}
#tagContainer{
  width: calc(100% - 12px);
  margin: 6px;
  margin-top: 6px;
  margin-bottom: 0px;
  left: 0;
  top: 60px;
  height: 131.5px;
  background-color: rgb(217, 217, 217);
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: scroll;
}
#tagContainerBorder{
  position: absolute;
  right: 11px;
  bottom: 11.5px;
  box-shadow: inset 0 0 0 5px rgb(217, 217, 217); 
  width: 100%;
  height: 131.5px;
  width: calc(50% - 22px);
  border-radius: 20px;
  pointer-events: none;
  box-sizing: border-box;
}
.foodTags{
  line-height: 1.2; 
  vertical-align: middle;
  display: inline-block;
  height: 20px;
  padding: 5px;
  margin: 2px;
  border-radius: 10px;
  background-color: rgb(249, 249, 249);
}
#posticon{
  width: 18px;
  margin-left: 11px;
  margin-top: 10px;
  opacity: 0.9;
}
#postButton{
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  background-color: rgb(152, 152, 152);
  border-radius: 30px;
  height: 40px;
  width: 40px;
}
#imagePreviewFoodpreview{
  position: absolute;
  left: 0;
  border-radius: 0px;
  margin-left: 0px;
  margin-top: 0px;
  height: 140px;
  width: 100%;
  background-color: rgb(144, 144, 144);
  object-fit: cover;
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
}

.custom-file-input{
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgb(217, 217, 217);
  left: 12px;
  bottom: 12px;
  border-radius: 30px;

}
.custom-file-input input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
  top: 0;
}
#image-preview{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 30px;
}
#imageformDisplay{
  width: 40px;
  height: 40px;
  object-fit: cover;
}
#SearchContainer{
  position: absolute;
  height: 40px;
  top: 5px;
  left: 50px;
  right: 50px;
  display: flex;
  flex-direction: row;
}
#searchBar{
  position: fixed;
  z-index: 9999;
  bottom: 10px;
  width: 90%;
  height: 50px;
  left: 5%;
  background-color: rgb(249, 249, 249);
  border-radius: 30px;
  transition: all 0.6s cubic-bezier(.65,-0.28,.34,1.19);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.223);
}
#searchField{
  overflow: hidden;
  border: none;
  background-color: rgb(217, 217, 217);
  border-radius: 30px;
  padding-left: 10px;
  flex: 1;
  min-width: 0;
  font-size: 16px;
  outline: none;
}
#addButton{
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  background-color: rgb(255, 116, 36);
  border-radius: 30px;
  height: 40px;
  width: 40px;
  transition: all 0.5s cubic-bezier(.65,-0.28,.34,1.19);
}
#filterSelectButton{
  position: absolute;
  top: 5px;
  right: 50px;
  display: inline-block;
  background-color: rgb(152, 152, 152);
  border-radius: 30px;
  height: 40px;
  width: 40px;
  transition: all 0.5s cubic-bezier(.65,-0.28,.34,1.19);
}
.icon1{
  opacity: 0.5;
  height: 25px;
  margin-top: 8.5px;
  margin-left: 12px;
}
.icon2{
  opacity: 0.9;
  width: 23px;
  margin-top: 8.5px;
  margin-left: 8.5px;
}
.icon3{
  opacity: 0.9;
  width: 25px;
  margin-top: 8.5px;
  margin-left: 8.5px;
}
.icon4{
  opacity: 0.9;
  width: 30px;
  position: absolute;
  left: -3.5px;
  top: -1px;
}
.icon5{
  opacity: 0.5;
  height: 18px;
  position: absolute;
  top: 5px;
  left: 6px;
}
.icon6{
  opacity: 0.9;
  width: 21px;
  position: absolute;
  left: 1px;
  top: 2px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}